*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    padding-bottom: 10px;
    background-color: #000;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    color: #000;

}
.logo img{
    width: 70%;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
text-decoration: none;
}
.menu ul li{
    list-style: none;
    border: 0px;
    margin-top: 15px;
}
.menu ul li a{
    text-decoration:none;
    color: #fff;
    padding:20px;
    letter-spacing: 2px;
    font-size: 18px;
}
.menu ul li a:hover{
    border-bottom: 4px solid #fff;
    border-radius: 2px;
    transition: 0.4s;
}
.singup button{
    background-color:transparent;
    text-decoration: none;
    color: #fff;
    border: 2px solid white;
    font-size:20px;
    font-weight: bold;
    border-radius: 70px;
    padding: 10px 30px;
}
.singup button:hover{
    transition: 0.60s;
    color: #272121e9;
    background-color: #fff;
    cursor: pointer;
}
.c-btn{
    background-color: rgb(225, 174, 182);
}
.c-btn:hover{
     background-color: antiquewhite;
     color: #000;
}
.section-5{
    background-image:  url(img/9.webp);
    background-repeat: no-repeat;
    padding: 50px;
}
.section-5{
    position: relative;
}
.section-5::before{
    content: "";
    background-color: rgba(0, 0, 255, 0.617);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.cards img{
    width: 50%;
    margin: auto;
}
.cards p{
    text-align: center;
}
.cards:hover{
    background-color: palevioletred;
    transition-duration: 0.7s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.525);
}
.section-3{
    background-color: rgba(213, 209, 209, 0.22);
    height: 570px;
    margin-top: 100px;
}
.murch{
     display: flex;
}
.gredient-btn{
    margin-top: 30px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 80px;
    width: 25%;
    color: azure;
    background: linear-gradient(90deg, rgba(246,249,252,1) 0%, rgba(255,72,145,1) 14.000000000000002%, rgba(249,193,198,1) 98%);
}
.gredient-btn:hover{
    color: #000;
    background: linear-gradient(90deg, rgba(246,249,252,1) 0%, rgba(249,193,198,1) 14.000000000000002%, rgba(255,72,145,1) 98%);
    transition: 0.30s;
}
.section-4{
    background: linear-gradient(to top right, #000 10%, #2406e5 100%);
    padding: 60px;
}
.mursh{
    display: flex;
    justify-content: space-between;
}